@import "colors"
@import "variables"

.BftProject
  margin: 3em auto
  background-color: $bftSecondaryColorHighlight
  padding-left: 1em
  padding-right: 1em
  padding-bottom: 1.5em
  text-align: center
  @media screen and (max-width: $bft-grid-breakpoints-sm)
    overflow-x: hidden
  h4
    margin-bottom: 0
  .projectImg-xl
    display: block
    margin: 0 auto
    @media screen and (max-width: $bft-grid-breakpoints-xl)
      margin: 0 -1em
    @media screen and (max-width: $bft-grid-breakpoints-lg)
      margin: 0 auto
    @media screen and (max-width: $bft-grid-breakpoints-sm)
      display: none
  .projectImg-sm
    display: none
    margin: 0 auto
    @media screen and (max-width: $bft-grid-breakpoints-sm)
      display: block
  .links
    overflow: auto
    .tags
      float: left
      span
        font-size: 0.75rem
        margin-right: 0.5em
        text-decoration: underline
        a
          color: $bftSecondaryColor
    .externalLinks
      float: right
      span
        margin-left: 0.5em
// .logo
//   height: 15em
//   background:
//     image: url("/img/logo/10-line-height.png")
//     position: center center
//     repeat: no-repeat
//     origin: content-box
//   @media screen and (max-width: $bft-grid-breakpoints-xl)
//     height: 12em
//     background:
//       image: url("/img/logo/8-line-height.png")
//   @media screen and (max-width: $bft-grid-breakpoints-lg)
//     height: 9em
//     background:
//       image: url("/img/logo/6-line-height.png")
//   @media screen and (max-width: $bft-grid-breakpoints-md)
//     height: 6em
//     background:
//       image: url("/img/logo/4-line-height.png")
//   @media screen and (max-width: $bft-grid-breakpoints-sm)
//     height: 4.5em
//     background:
//       image: url("/img/logo/3-line-height.png")
