@import "../../SharedStyles/colors";
@import "../../SharedStyles/variables";

.BftContacts {
  padding: 3em 0;
  .contactsGroups {
    padding: 0 1em;
    &:nth-child(1) {
      border: 0;
      background-color: $bftSecondaryColorHighlight;
    }
    &:nth-child(3) {
      border: 1px solid red;
      padding: 1.4375em 1em;
      @media screen and (max-width: $bft-grid-breakpoints-sm) {
        margin: 0 1em;
      }
      .row {
        .col-xl-12 {
          text-align: center;
        }
      }
    }
  }
}
