@import "../../SharedStyles/colors";
@import "../../SharedStyles/variables";

.BftQuote {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5em;
  font-style: italic;
  background-color: $bftSecondaryColorHighlight;
  padding: 1.5em;
  .header {
    text-align: left;
    text-decoration: underline;
    margin: 0;
  }
  .opening {
    text-align: left;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  p {
    text-align: right;
    margin: 0;
  }
  .closing {
    text-align: right;
    margin: 0;
  }
}
