$bftPrimaryColor: #e11d24;
$bftSecondaryColor: #ffffff;
$bftTrinityColor: #111111;
$bftSecondaryColorLinkHover: rgba($bftSecondaryColor, 0.7);
$bftSecondaryColorHighlight: rgba($bftSecondaryColor, 0.06);
$bftTrinityColorOpacity: rgba($bftTrinityColor, 0.97);
$bftColorful-1: #4893cc;
$bftColorful-2: #f7a432;
