@import "./node_modules/vertical-rhythm-reset/dist/vertical-rhythm-reset";
@import "../SharedStyles/variables";

$vr-box-sizing: $bft-box-sizing;
$vr-font-size: $bft-font-size;
$vr-line-height: $bft-line-height;
$vr-modular-scale: $bft-modular-scale;

$vr-grid-color-sm: $bft-grid-color-sm;
$vr-grid-color-md: $bft-grid-color-md;
$vr-grid-color-lg: $bft-grid-color-lg;
$vr-grid-color-xl: $bft-grid-color-xl;

$vr-breakpoints: (
  36em: (
    // 576px
    font-size: $vr-font-size,
    line-height: $vr-line-height,
    modular-scale: $vr-modular-scale,
    grid-color: $vr-grid-color-sm,
  ),
  48em: (
    // 768px
    font-size: $vr-font-size,
    line-height: $vr-line-height,
    modular-scale: $vr-modular-scale,
    grid-color: $vr-grid-color-md,
  ),
  62em: (
    // 992px
    font-size: $vr-font-size,
    line-height: $vr-line-height,
    modular-scale: $vr-modular-scale,
    grid-color: $vr-grid-color-lg,
  ),
  75em: (
    // 1200px
    font-size: $vr-font-size,
    line-height: $vr-line-height,
    modular-scale: $vr-modular-scale,
    grid-color: $vr-grid-color-xl,
  ),
);

$vr-helpers: (
  font-size: (
    count: 5,
    prefix: "vr-font-size-",
  ),
  line-height: (
    count: 10,
    prefix: "vr-line-height-",
  ),
  height: (
    count: 10,
    prefix: "vr-height-",
  ),
  width: (
    count: 10,
    prefix: "vr-width-",
  ),
  margin: (
    count: 5,
    prefix: "vr-margin-",
  ),
  margin-top: (
    count: 5,
    prefix: "vr-margin-top-",
  ),
  margin-bottom: (
    count: 5,
    prefix: "vr-margin-bottom-",
  ),
  padding: (
    count: 5,
    prefix: "vr-padding-",
  ),
  padding-top: (
    count: 5,
    prefix: "vr-padding-top-",
  ),
  padding-bottom: (
    count: 5,
    prefix: "vr-padding-bottom-",
  ),
  offset: (
    count: 5,
    prefix: "vr-offset-",
  ),
  offset-top: (
    count: 5,
    prefix: "vr-offset-top-",
  ),
  offset-bottom: (
    count: 5,
    prefix: "vr-offset-bottom-",
  ),
);

// @include vr-reset();

@include vr-reset(
  $box-sizing: $vr-box-sizing,
  $font-size: $vr-font-size,
  $line-height: $vr-line-height,
  $modular-scale: $vr-modular-scale,
  $grid-color: $vr-grid-color-xl,
  $breakpoints: $vr-breakpoints,
  $helpers: $vr-helpers
);
body {
  @if ($gridShow == 1) {
    @include vr-grid();
  }
}
